@using Pivotal.Model
@model IList<Pivotal.Model.Project>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Projects</h2>
<ul>
    @foreach (var project in Model) {
        <li><a href="~/Pivotal/Stories/@project.Id">@project.Name</a></li>
    }
</ul>
